.center {
    margin: auto;
}

.password {
    display: block;
    margin: 5px;
    width: 300px;
    color: green;
    font-size: medium;
    height: 40px;
    background-color: aquamarine;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.password:hover {
    background-color: black;
    color: white
}

span {
    color: red;
}
.result {
    display: block;
    margin: 5px;
    width: 300px;
    color: green;
    font-size: larger;
    height: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}